body {
    padding: 20px;
    width: auto;
    height: auto;
    background-color: grey;
    margin-left: 0;
 }

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      height: 50%;
      margin: auto;
      position: relative;
  }

.container-fluid {
    padding-right:20px;
    padding-left:15px;
    margin-right: auto;
    margin-left:0;
    background-color: grey;
    width: auto;
}

.container {
}

.container-fluid, .navbar-collapse, .container-fluid, .navbar-header, .container, .navbar-collapse, 
.container, 
    .navbar-header {
    position: inherit;
    width: auto;
}

.jumbotron {
    margin-top: 6px;
    width: auto;
    height: auto;
    background:white;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
    margin-left: 0;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent
    
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

p {
    margin-top: 6px;
}

p1 {
    margin-top: 10px;
}

.row {
    position: sticky;
}

.sr-only {
    position: fixed;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0px, 0px, 0px);
    border: 0;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-spacing: 15px;
    border: ridge;
    margin: auto;
}

.social_fluid {
    position: fixed;
    background-color: lightgrey;
    color: #fafafa;
    width: 100%;
    height: 20px;
    left: 0;
    bottom:0;
    text-align: left;
}

.list-inline-social-links {
    padding-bottom: 15px;
}

.list-inline-social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:#fafafa;
    background:#8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-social-links li a i:hoover {
    background:#e84610;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 400px) {
    .column {
        width: 50%;
    }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


