body {
    padding: 20px;
    width: auto;
    height: auto;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      height: 50%;
      margin: auto;
      position: relative;
  }

.container-fluid {
    padding-right:20px;
    padding-left:15px;
    margin-right: auto;
    margin-left:0;
    text-align: center;
    background-color: grey;
    width: auto;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, 
.container > .navbar-header {
    position: relative;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
}

.jumbotron {
    margin-top: 6px;
    width: auto;
    height: auto;
    background:white;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    padding: 0 100px;
    display: flex;
    background-color: #111;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #205aff;
    
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
   position: relative;
   padding: 5px 10px;
   color: #fff;
   display: iinline-block;
   text-decoration: none;
   cursor: pointer;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.row {
    margin: 5px;
    width: 100%;
    height: auto;
}

.row .col-sm-4 {
    align: center;
}

#text {
    text-align: center;
}

p {
    margin-top: 6px;
    text-align: center;
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-star: 0px;
    margin-inline-end: 0px;
}

p1 {
    margin-top: 10px;
    text-align: center;
}

.sr-only {
    position: fixed;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0px, 0px, 0px);
    border: 0;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-spacing: 15px;
    border: ridge;
    margin: auto;
}

.social_fluid {
    position: fixed;
    background-color: lightgrey;
    color: #fafafa;
    width: 100%;
    height: 20px;
    left: 0;
    bottom:0;
    text-align: left;
}

.list-inline-social-links {
    padding-bottom: 15px;
}

.list-inline-social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:#fafafa;
    background:#8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-social-links li a i:hoover {
    background:#e84610;
}

@media screen and (max-width: 992px) 
{
    
section
{
padding: 100px 50px 50px;
flex-direction: column;
justify-content: center;
align-items: center;
display: flex;
}
    
section img
{
margin: 50px 0 0;
max-width: 100%;
}
    
header ul
{
position: absolute;
top: - 100%;
left: 0;
width: 100%;
height: calc(100vh - 80px);
padding: 50px 100px;
text-align: center;
overflow: auto;
transition: 0.5s;
background: #111;
flex-direction: column;
opacity: 0;
transform: translateY(-100%);
}
    
header.active ul
{
opacity: 1;
top: 80px;
transform: translateY(0);
}
    
header ul li a
{
margin: 5px 0;
font-size: 24px;
}
    
.toggle
{
display: block;
position: relative;
width: 30px;
height: 30px;
cursor: pointer;
}
    
.toggle:before
{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px;
background: #fff;
z-index: 1;
box-shadow: 0 10px 0 #fff;
transition: 0.5s;
}
    
.toggle:before
{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px;
background: #fff;
z-index: 1;
box-shadow: 0 10px 0 #fff;
transition: 0.5s;
}
    
.toggle:before
{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px;
background: #fff;
z-index: 1;
box-shadow: 0 10px 0 #fff;
transition: 0.5s;
}
    
.toggle:before
{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px;
background: #fff;
z-index: 1;
box-shadow: 0 10px 0 #fff;
transition: 0.5s;
}
    
.toggle:before
{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px;
background: #fff;
z-index: 1;
box-shadow: 0 10px 0 #fff;
transition: 0.5s;
}
    
.toggle:after
{
content: '';
position: absolute;
bottom: 4px;
width: 100%;
height: 2px;
background: #fff;
z-index: 1;
box-shadow: 0 10px 0 #fff;
transition: 0.5s;
}
    
header.active .toggle:before
{
top: 14px;
transform: rotate(45deg);
box-shadow: 0 10px 0 #fff;
} 
    
header.active .toggle:after
{
bottom: 14px;
transform: rotate(45deg);
}
}
